page-paymode {
.inner_bt {
    padding-top: 15px;
    padding-bottom: 10px
}
.inner_bt img {
    border-radius: 4px;
}
inner_bt:first-child{
    padding-top: 5px !important;
}
img.button {
    border-color: transparent;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0px;
    border-style: solid;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
}
.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
  }
}
