<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="../../assets/icon/Mask Group 1.svg" alt="Smiley face" height="42" width="42">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="profile()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">

  <ion-grid>

    <ion-row align-items-center>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header class="head">
              <span class="sp-left">CLIENT DETAILS</span>
              <span class="sp-right">EBUSINESS POLICY</span>
            </ion-card-header>
            <ion-card-header class="c">
              <ion-grid class="c">
                <ion-row>
                  <ion-col col-11 push-1>
                    <div> {{insuredNameField}}
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div class="fs">
                      <ion-icon name="ios-contact"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid class="c">
                <ion-row>
                  <ion-col col-11 push-1>
                    <div> {{insuredEmailField}}
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> {{dOBField}}
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> {{telNumField}}
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> {{insAddr1Field}},{{insAddr2Field}}
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div><span class="sp-leftt">{{insStateField}}</span>
                      <span class="sp-right">VIEW DETAILS</span>
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <br />
    <br />
    <ion-row align-items-center>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header class="head">
              <span class="sp-left">POLICY INFORMATION</span>
              <span class="sp-right">EBUSINESS POLICY</span>
            </ion-card-header>
            <ion-card-header class="c">

              <ion-grid class="c">
                <ion-row>
                  <ion-col col-11 push-1>
                    <div> <span class="sp-left">
                        Policy Period:
                      </span>
                      <span class="sp-right">
                        {{startdateField}}-{{enddateField}}
                      </span><br />
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div class="fs">
                      <!-- <img src="../../assets/icon/protection-shield-with-a-check-mark.svg" alt="Smiley face" height="42"
                        width="42"> -->
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> <span class="sp-left">
                        Sum Insured:
                      </span>
                      <span class="sp-right">
                        {{sumInsField}}
                      </span> <br />
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> <span class="sp-left">
                        Outstanding:
                      </span>
                      <span class="sp-right">
                        {{outPremiumField}}
                      </span><br />
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div><span class="sp-left">
                        Installmental Premium Due:
                      </span>
                      <span class="sp-right">
                        {{instPremiumField}} </span>
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col col-11 push-1>
                    <div> <span class="sp-left">
                        Total Premium Due:
                      </span>
                      <span class="sp-right">
                        {{mPremiumField}} </span>
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div>
                    </div>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-11 push-1>
                    <div>
                      <ion-list no-lines>
                        <button ion-item *ngFor="let item of items">
                          hello
                        </button><button ion-item *ngFor="let item of items">
                          hello
                        </button><button ion-item *ngFor="let item of items">
                          hello
                        </button><button ion-item *ngFor="let item of items">
                          hello
                        </button><button ion-item *ngFor="let item of items">
                          hello
                        </button>
                      </ion-list>
                    </div>
                  </ion-col>
                  <ion-col col-1 pull-11>
                    <div></div>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card-content>
            <div class="flexy pt-20"><button class="signin-btn" ion-button block color="blue" (click)="pay()">Make
                Payment </button></div>

          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
