page-createposaccount {
   .bar-button-default-md{
    color: #fff;
  }
  ion-card.card {
    box-shadow: none;
    color: #000;
    background: #fff;
    border-radius: 5px;
  }
  ion-card-header.header{
    color: #000 !important;
  }
  .toolbar-title{
    color: #fff;
  }
  .button-md-blue{
    padding: 25px 0 !important;
  }

}
