page-cardanime {
  .button-md-blue{
    padding: 25px 0 !important;
  }
  .toolbar-title{
    color: #fff;
  }
  .bar-button-default-md{
    color: #fff !important;
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
