page-loginpos {
  ion-card.card {
    box-shadow: none;
    color: #fff;
    background: #fff;
    border-radius: 5px;
  }
  .absolute{
    position: absolute;

    width: 90%;
    bottom: 10%;
  }
  
}
