<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="../../assets/icon/Mask Group 1.svg" alt="Smiley face" height="42" width="42">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <br />
  Kindly Confirm the Details Below to Proceed
  <br />
  <br />
  <br />
  <ion-card>
    <ion-card-header class="head">
      <span class="sp-left">POLICY INFORMATION</span>
      <span class="sp-right">EBUSINESS POLICY</span>
    </ion-card-header>
    <ion-card-header class="c">
      <span class="sp-left">
        Policy Period:
      </span>
      <span class="sp-right">
        15/09/2018-15/09/2021
      </span><br /> <span class="sp-left">
        Sum Insured:
      </span>
      <span class="sp-right">
        $700
      </span> <br /><span class="sp-left">
        Outstanding:
      </span>
      <span class="sp-right">
        300
      </span><br /> <span class="sp-left">
        Total Premium Due:
      </span>
      <span class="sp-right">
        300 </span>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-11 push-1>
            <div>
              <ion-list no-lines>
                <button ion-item *ngFor="let item of items">
                  hello
                </button><button ion-item *ngFor="let item of items">
                  hello
                </button><button ion-item *ngFor="let item of items">
                  hello
                </button><button ion-item *ngFor="let item of items">
                  hello
                </button><button ion-item *ngFor="let item of items">
                  hello
                </button>
              </ion-list>
            </div>
          </ion-col>
          <ion-col col-1 pull-11>
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <br />
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><button ion-button color="blue">Confirm</button></div>
      </ion-col>
      <ion-col>
        <div><button ion-button class="btn-bg">Cancel</button></div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
